body {
	margin: 0;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 0;
  grid-template-columns: 0.25fr 3fr 0.25fr;
  grid-template-rows: 1fr 2fr 1fr 500px 2fr 1fr;
  grid-template-areas:
	'navbar navbar navbar'
	'header header header'
	'topmenu topmenu topmenu'
	'leftside-menu mainpage rightside-menu'
	'contactus contactus contactus'
	'footer footer footer';
}

.grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #8A8A2E;
}
.header {
	grid-area:header;
	background-color: lightgray;
}
.navbar {
	grid-area: navbar;
	
}

.topmenu {
	grid-area: topmenu;
	background-color: brown;
}
.leftside-menu {
	grid-area: leftside-menu;
	background-color: blue;
}
.mainpage {
	grid-area: mainpage;
	background-color: yellow;
}

.rightside-menu {
	grid-area: rightside-menu;
	background-color: blue;
}

.contactus {
	grid-area: contactus;
	background-color: #31862D;
}

.footer {
	grid-area: footer;
	background-color: white;
	
}
