body {
	margin: 0;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 5px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 200px 200px 1fr 1fr 1fr;
  grid-template-areas:
	'main-header main-header main-header'
	'sidebar lower-header lower-header'
	'sidebar flex-grid-unit-1 flex-grid-unit-4'
	'sidebar flex-grid-unit-2 flex-grid-unit-5'
	'sidebar flex-grid-unit-3 flex-grid-unit-6';
}

.grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #8A8A2E;
}

.main-header {
	grid-area: main-header;
	background-color: #31862D;
}

.lower-header {
	grid-area: lower-header;
	background-color: #5B862D;
}

.sidebar {
	grid-area: sidebar;
	background-color: #718E2F;
}

.flex-grid-unit-1 {
	grid-area: flex-grid-unit-1;
}

.flex-grid-unit-2 {
	grid-area: flex-grid-unit-2;
}

.flex-grid-unit-3 {
	grid-area: flex-grid-unit-3;
}

.flex-grid-unit-4 {
	grid-area: flex-grid-unit-4;
}

.flex-grid-unit-5 {
	grid-area: flex-grid-unit-5;
}

.flex-grid-unit-6 {
	grid-area: flex-grid-unit-6;
}

